version: '3'

services:

  redis:
    image: 'redis:4.0.11-alpine'
    command: redis-server
    ports:
      - ${HOST_PORT_REDIS}:6379
    volumes:
      - 'redis:/var/lib/redis/data'

  qtl2web:
    build: .
    env_file:
      - '.env'
    environment:
      - FLASK_ENV=development
      - PYTHONPATH=.
    ports:
      - ${HOST_PORT_WEB}:80
    command: python3 qtl2web/app.py
    volumes:
      - ./qtl2web:/app/qtl2web
      - ${HOST_FILE_QTL2WEB_SETTINGS}:${CONTAINER_FILE_QTL2WEB_SETTINGS}
      - ${HOST_FILE_RDATA}:/app/qtl2web/data/rdata
      - ${HOST_DIR_QTL2WEB_CACHE}:${CONTAINER_DIR_QTL2WEB_CACHE}

  celery:
    build: .
    command: celery worker -l info -A qtl2web.modules.api.tasks
    env_file:
      - '.env'
    volumes:
      - ${HOST_FILE_QTL2WEB_SETTINGS}:${CONTAINER_FILE_QTL2WEB_SETTINGS}
      - ${HOST_FILE_RDATA}:/app/qtl2web/data/rdata
      - ${HOST_DIR_QTL2WEB_CACHE}:${CONTAINER_DIR_QTL2WEB_CACHE}


volumes:
  redis:

# docker network create --attachable qtlapi
networks:
  default:
    external:
      name: qtl2rest



