Flask==1.0.2

# Application server for both development and production.
gunicorn==19.9.0

# Testing and static analysis.
pytest==2.9.1
pytest-cov==2.2.1
flake8==2.5.4

# CLI.
Click==6.7

# Data and workers.
redis==3.2.1
celery==4.3.0
flower==0.9.3

# Extensions.
#flask-debugtoolbar==0.10.0
Flask-Compress==1.4.0

# Others.
requests==2.21.0
requests-cache==0.5.0
psutil==5.6.2




